<h1 class="display-3">Brands</h1>
<div class="container-fluid">
<% if @brands.empty?%>
  <p>There no products yet</p>
<% else %>
<ul class="list-group"></ul>

  <% @brands.each do |brand| %>
    <li class="list-group-item"><%= link_to brand.name, brand%></li>
  <% end %>
</ul>
<% end %>
</div>
