<h1>Category#index</h1>
<% if @categories.empty?%>
  <p>There no products yet</p>
<% else %>
<ul class="list-group"></ul>

  <% @categories.each do |category| %>
    <li class="list-group-item"><%= link_to category.name, category %></li>
  <% end %>
</ul>
<% end %>
