<div class="col-sm-6 text-left">
<h2><%= @category.name%></h2>
<h1> </h1>
<h1 class="spaceq"> </h1>
<p><%= @category.description%></p>
<ul class="list-group">
  <% @products.each do |product| %>
     <li class="list-group-item"><%= link_to product.name, product %></li>
  <% end %>
</ul>
</div>
