
  <div class="card p-3 my-3 border">
  <div>
    <figure class="small_image">
      <% if product.image.present? %>
      <%= image_tag product.image, :class => "small_image" %>
      <% end %>
    </figure>
  </div>
  <div class="card-body">
    <p class="card-title"><%= link_to product.name, product %></p>
    <p class="card-text">CAD <%= number_to_currency(product.price) %></p>
    <p class="card-text"><%= product.volume %> ml</p>
  </div>
  </div>
